<p id="notice"><%= notice %></p>
<div class="alarms_container">
  <header>
    <div class="columns">
      <div class="column">
        Alarms
      </div>
    </div>
  </header>
  <section>
      <turbo-frame id="alarms">
        <%= render partial: 'alarm', collection: @alarms %>
      </turbo-frame>
  </section>
  <footer>
    <%= render "form", alarm: Alarm.new %>
  </footer>
</div>

